@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

--root {
  --bg-primary: #212121;
  --bg-secondary: #2c2c2c;
  --red-primary: #ff2330;
  --white-primary: #eeeeee;
  --placeholder: #858585;
  --grey-primary: #c6c6c6;
}

body {
  display: grid;
  grid-template-columns: 238px 1fr;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #212121;

}

#logo {
  margin-bottom: 32px;
}

/*logo mobile e menu começam com display none e aparecem na versão mobile*/

#logo-mobile {
  display: none;
}

#menu {
  display: none;
}

/*estilização da sidebar*/

.sidebar {
  position: fixed;
  width: 238px;
  height: 100vh;
  background: #2c2c2c;
  padding: 1.5rem;
  border: none;
  border-right: solid;
  border-width: 0.2px;
  border-color: #505050;
}

.content-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.close-sidebar {
  display: none;
}

nav ul {
  display: grid;
  gap: 16px;
}
nav ul li {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  padding: 12px;
  padding-left: 2.5rem;
  border-radius: 8px;
}
nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d9d9d9;
  font-size: 18px;
}

/*conteúdo principal*/

main {
  width: 90%;
  max-width: 1220px;
  margin: auto;
  grid-column: 2;
  overflow-x: hidden;
  position: relative;
}

/*cabeçalho*/

header {
  width: 100%;
  max-width: 100%;
  height: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 1rem;
  padding: 0.6rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.search-container input {
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
  color: #eeeeee;
  background: transparent;
  border: none;
  outline: none;
}

.search-container img {
  margin-left: 0.5rem;
}

input::-webkit-search-cancel-button {
  display: none;
}

input::-ms-clear {
  display: none;
}

input::-webkit-search-decoration {
  display: none;
}

.user-actions {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 0.5rem;
}

.user-actions a {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  padding: 0.5rem;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
#to-enter {
  color: #212121;
  background: #eee;
}

#create {
  color: #eee;
  background: #ff2330;
}

p {
  color: #c6c6c6;
}

/*estilização dos títulos das seções*/

.box-title-section * {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.box-title-section {
  margin: 16px; 
}
.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-section h2 {
  font-size: 20px;
  font-weight: 600;
  color: #d9d9d9;
}

.title-section span {
  background-color: #2c2c2c;
  color: #eeeeee;
  border-radius: 6px;
  padding: 0.2rem;
}

.title-section a {
  background-color: #2c2c2c;
  color: #eeeeee;
  text-decoration: none;
  border-radius: 6px;
  padding: 0px 12px;
}

.content-title {
  display: flex;
  gap: 6px;
}

#see-all {
  display: flex;
  gap: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

hr {
  width: 208px;
  display: flex;
  justify-self: center;
  border: none;
  height: 0.2px;
  background-color: #505050;
}

/*estilização do filme/série destaque*/

.movie {
  display: flex;
  position: relative;
  height: 460px;
  padding: 2.5rem;
}

.container-movie {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  gap: 24px;
  flex-shrink: 1;
}

#logo-filme {
  max-width: 100%;
}

.container-movie-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.movie-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.movie-info span {
  color: #c6c6c6;
}

#text-movie {
  font-size: 1rem;
  text-align: start;
  min-width: 330px;
  max-width: 62%;
  color: #c6c6c6;
}

.container-movie-actions {
  display: flex;
  gap: 20px;
  width: fit-content;
}

#action-play {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  background-color: #ff2330;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

#action-play a {
  text-decoration: none;
  color: #eeeeee;
}

#action-trailer {
  display: flex;
  padding: 8px;
  border-radius: 6px;
  background-color: #c6c6c6;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

#action-trailer a {
  text-decoration: none;
  color: #858585;
}

/*estilização dos posts dos filmes/séries*/


.post-item * {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.post-item {
  position: relative;
  overflow: visible; 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.post-item img {
  position: relative;
  z-index: 1;
  width: 250px;
  height: 350px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.post-item h1 {
  position: absolute;
  top: 50%; 
  left: -30px; 
  transform: translateY(-50%); 
  font-size: 120px;
  font-weight: 600;
  color: #eeeeee;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

.post-item p {
  font-size: 12px;
  font-weight: 500;
}

.post-item span {
  display: flex;
  align-items: center;
  color: #c6c6c6;
  font-size: 12px;
  gap: 6px;
}

.box-movie-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#movie-details {
  display: flex;
  gap: 1rem;
}

/*estilização do top 3, todos e recentes*/

.top-3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 2rem;
  margin: 1rem;
  gap: 2rem;
  background-color: #2c2c2c;
  border-radius: 8px;
  justify-items: center;
  position: relative;
}
.all {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  background-color: #2c2c2c;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  justify-items: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  gap: 2.5rem;
}

.recent {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  background-color: #2c2c2c;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  justify-items: center;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  gap: 2.5rem;
}

/*rodapé*/

footer {
  background: #1b1b1b;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-column {
  width: 25%;
  min-width: 200px;
  padding: 10px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  color: #ccc;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #e62429;
}

.social-icons a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin: 5px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #e62429;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #222;
  padding-top: 10px;
  font-size: 14px;
  color: #aaa;
}
